*{
    box-sizing: border-box;
}

.head1{
    font-family: 'josefin sans','extra=thin 100';
    color: hsl(0, 58%, 82%);
    font-size: 35px;
    font-weight: 300;
    font-style:monospace;
}
.head2{
    font-family: 'josefin sans','medium 500';
    font-size: 30px;
}
p{
    font-family: 'josefin sans','regular 400';
    color:hsl(0, 19%, 59%) ;
}
.img1{
    position: relative;
    width:50% ;
    height: 50%;
    display: inline-block;
}

.box1{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40vh;
    width: 45%;
    padding: 50px;
    display: inline-block;
    font-size: 15px;
}
.box2{
    width: 50%;
    height: 50%;
    float: right;
    display: inline-block;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    border-color:hsl(0, 62%, 77%) ;
    color: hsl(0, 45%, 75%) ;
    font-family: 'josefin sans','thin 100';
    float: left;
    padding: auto;

}
.b1{
    width: 50px;
    height: 30px;
    border-radius: 50px;
    border-color:rgba(245, 155, 139,0.6) ;
    padding: auto;
    background: linear-gradient(rgb(247, 145, 145) ,rgb(223, 177, 177));
    display: inline-block;
    color: white;
    margin-left: -40px;
    font-size: 10px;

}