*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    
}

.head1{
    font-family: 'josefin sans','extra=thin 100';
    color: hsl(0, 58%, 82%);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}
.head2{
    font-family: 'josefin sans','medium 500';
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-family: 'josefin sans','regular 400';
    color:hsl(0, 19%, 59%) ;
    text-align: center;
    margin-bottom: 20px;
    line-height: 20px;
    padding: 30px;
}
.content{
    background-color:rgb(255, 247, 248);
}
input{
    width: 220px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 58%, 82%);
    color: hsl(0, 45%, 75%) ;
    font-family: 'josefin sans','thin 100';
    padding-left: 20px;
    margin: 30px 0 70px 80px;
    max-width: 270px;

}
.b1{
    width: 50px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 58%, 82%);
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color: white;
    padding: 10px 20px;
    margin-left: -45px;
    margin-top: 10px;
}
.mobile-logo{
    padding: 30px;
    background-color: rgb(255, 247, 248);
}
.desktop-img{
    display: none;
}

.desktop-logo{
    display: none;
}
@media screen and (min-width:600px){
    .head1{
        font-family: 'josefin sans','extra=thin 100';
        color: hsl(0, 58%, 82%);
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }
    .head2{
        font-family: 'josefin sans','medium 500';
        font-size: 2.5rem;
        text-align: center;
    }
    p{
        font-family: 'josefin sans','regular 400';
        color:hsl(0, 19%, 59%) ;
        text-align: center;
        font-size: 1.6rem;
        line-height: 30px;
    }
    input{
        width: 400px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid hsl(0, 58%, 82%);
        color: hsl(0, 45%, 75%) ;
        font-family: 'josefin sans','thin 100';
        padding: 10px,20px;
        margin-left: 250px;
    
    }
    .b1{
        width: 70px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid hsl(0, 58%, 82%);
        background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        color: white;
        padding: 10px 20px;
        margin-left: -45px;
        margin-top: 10px;
    }
    
}
@media screen and (min-width:1000px) {
    .mobile-logo{
        display: none;
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
        width: 50vw;
        height: 100vh;
    }
    .desktop-logo{
        display: block;
        margin-top: 40px;
        padding-left: 100px;
    }
    .parent{
        display: flex; 
        flex-direction: row;
        width: 100vw;  
    }
    .content{
        background-image: url(imges/IMG-20211003-WA0024.jpg);
        width: 50vw;
        height: 100vh;
    }
    .desktop-img{
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 50%;
        height: 100vh;
    }
    .head1{
        font-family: 'josefin sans','extra=thin 100';
        color: hsl(0, 58%, 82%);
        font-size: 3rem;
        font-weight: 300;
        text-align: left;
        padding-left: 100px;
        margin-top: 30px;
    }
    .head2{
        font-family: 'josefin sans','medium 500';
        font-size: 3rem;
        text-align: left;
        padding-left: 100px;
    }
    p{
        font-family: 'josefin sans','regular 400';
        color:hsl(0, 36%, 70%) ;
        text-align: left;
        font-size: 1rem;
        line-height: 30px;
        padding-left: 100px;
        padding-right: 100px;
        width: 600px;
    }
    input{
        width: 500px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid hsl(0, 58%, 82%);
        color: hsl(0, 45%, 75%) ;
        font-family: 'josefin sans','thin 100';
        padding: 10px,20px;
        margin-left: 100px;
    
    }
    .b1{
        width: 70px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid hsl(0, 58%, 82%);
        background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        color: white;
        padding: 10px 20px;
        margin-left: -45px;
        margin-top: 10px;
    }
}